<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PinjamDult.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>51</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
				<key>dateExpires</key>
				<string>2025/1/21</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AAILiveness.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AAILivenessSDK.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AAINetwork.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>5.9.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BSImagePicker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>3.3.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjack.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>3.8.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CryptoSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.8.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>EasySwiftHook.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>3.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>EmptyDataSet_Swift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FSPagerView.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>10.27.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>10.27.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>10.27.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>10.27.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>10.27.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>10.27.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseRemoteConfigInterop.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>10.27.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseSessions.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>10.27.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>9.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>7.13.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.16</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KeychainAccess.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>4.2.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>M80AttributedLabel.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.9.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>3.7.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PagingKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.18.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Presentr.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Promises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>5.2.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RequestService.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SCAdView.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.62.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>5.19.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SKPhotoBrowser.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>7.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SmartCodable.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>3.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>5.7.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftDate.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>6.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TDCorePlugin.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>WCDBSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YSCellReusable.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YSRadarView.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YSScrollRuler.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YSTools_Swift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.2.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>libffi_apple.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>3.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30910.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9D21B2541069635944D05C5B7474ECBEF75D262A</string>
						<key>dateExpires</key>
						<string>2025/1/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>sqlcipher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>79PXGK8DWY</string>
						<key>name</key>
						<string>Stanford Teknologi Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.4</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>79PXGK8DWY.com.pinjamduit.loan</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:subdomain.onelink.me</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>79PXGK8DWY</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>PinjamDult.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>72353437-78e6-4c5c-9632-a8928d2cf920</string>
				<key>dateExpires</key>
				<string>2025/1/21</string>
				<key>name</key>
				<string>PinjamDuit_Prod</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>79PXGK8DWY</string>
				<key>name</key>
				<string>Stanford Teknologi Indonesia, PT</string>
			</dict>
			<key>versionNumber</key>
			<string>1.2.0</string>
		</dict>
	</array>
</dict>
</plist>
